body {
  overflow: hidden;
  width: 100%;
}

.headerthree {
  height: auto;
  background: radial-gradient(circle at 65% 15%, white 1px, aqua 3%, darkgreen 60%, aqua 100%);
  -webkit-animation: fadefromleft 0.5s ease;
          animation: fadefromleft 0.5s ease;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.headerthree h1 {
  font-weight: 1000;
  border-bottom: 2px solid white;
  color: white;
}

#aboutMe {
  margin-left: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#aboutMe img {
  width: 300px;
  height: 400px;
  border-radius: 10px;
}

.nav-link {
  color: white;
}

#navbarNavAltMarkup {
  font-size: 25px;
  margin-right: 10px;
}

.nav-item {
  -webkit-animation: fadefromup 1.5s ease;
          animation: fadefromup 1.5s ease;
}

@-webkit-keyframes fadefromup {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadefromup {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

ul li {
  margin-right: 25px;
}

li a:hover {
  color: #18a7a7;
}

.personalInfo {
  margin-top: 70px;
  width: 400px;
  height: 400px;
  white-space: nowrap;
}

.personalInfo h4 {
  color: white;
  font: bold 300% Consolas, Monaco, monospace;
  font-weight: 500;
  border-right: 0.1em solid black;
  width: 17ch;
  overflow: hidden;
  -webkit-animation: typing 2s steps(31, end), blink-caret 0.5s infinite step-end, border-none 8s forwards;
          animation: typing 2s steps(31, end), blink-caret 0.5s infinite step-end, border-none 8s forwards;
}

.personalInfo .secondtype,
.personalInfo .thirdtype,
.personalInfo .fourtype,
.personalInfo .fivetype,
.personalInfo .sixtype {
  font: bold 200% Consolas, Monaco, monospace;
  border-right: 0.1em solid green;
  opacity: 0;
  color: black;
}

.personalInfo .secondtype {
  width: 13.5em;
  width: 11ch;
  -webkit-animation: 2s typing 2s steps(31, end), blink-caret 0.5s infinite step-end, border-none 8s forwards, 1s display-none 2s forwards;
          animation: 2s typing 2s steps(31, end), blink-caret 0.5s infinite step-end, border-none 8s forwards, 1s display-none 2s forwards;
}

.personalInfo .thirdtype {
  width: 13.5em;
  width: 7ch;
  -webkit-animation: 2s typing 2s steps(21, end), blink-caret 0.5s infinite step-end, border-none 8s forwards, 1s display-none 2s forwards;
          animation: 2s typing 2s steps(21, end), blink-caret 0.5s infinite step-end, border-none 8s forwards, 1s display-none 2s forwards;
}

.personalInfo .fourtype {
  width: 13.5em;
  width: 19ch;
  overflow: hidden;
  -webkit-animation: 2s typing 2s steps(21, end), blink-caret 0.5s infinite step-end alternate, border-none 8s forwards, 3s display-none 2s forwards;
          animation: 2s typing 2s steps(21, end), blink-caret 0.5s infinite step-end alternate, border-none 8s forwards, 3s display-none 2s forwards;
}

.personalInfo .fivetype {
  width: 13.5em;
  width: 25ch;
  overflow: hidden;
  -webkit-animation: 2s typing 2s steps(21, end), blink-caret 0.5s infinite step-end alternate, border-none 8s forwards, 1s display-none 2s forwards;
          animation: 2s typing 2s steps(21, end), blink-caret 0.5s infinite step-end alternate, border-none 8s forwards, 1s display-none 2s forwards;
}

.personalInfo .sixtype {
  width: 13.5em;
  width: 20ch;
  overflow: hidden;
  -webkit-animation: 2s typing 2s steps(21, end), blink-caret 0.5s infinite step-end alternate, border-none 8s forwards, 1s display-none 2s forwards;
          animation: 2s typing 2s steps(21, end), blink-caret 0.5s infinite step-end alternate, border-none 8s forwards, 1s display-none 2s forwards;
}

.softskills {
  margin-left: 7em;
  margin-top: 20px;
  width: 450px;
  height: 400px;
  color: white;
}

.softskills h2 {
  font-size: 45px;
  color: black;
}

.softskills .firstsoft {
  -webkit-animation: 4s fadefromdown 1s forwards ease;
          animation: 4s fadefromdown 1s forwards ease;
  opacity: 0;
}

.softskills .secondsoft {
  -webkit-animation: 4s fadefromdown 2s forwards ease;
          animation: 4s fadefromdown 2s forwards ease;
  opacity: 0;
}

.softskills .thirdsoft {
  opacity: 0;
  -webkit-animation: 4s fadefromdown 3s forwards ease;
          animation: 4s fadefromdown 3s forwards ease;
}

.softskills .foursoft {
  opacity: 0;
  -webkit-animation: 4s fadefromdown 4s forwards ease;
          animation: 4s fadefromdown 4s forwards ease;
}

.line {
  margin-right: 40px;
  width: 5px;
  height: 350px;
  background: whitesmoke;
}

#techn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: calc(100vw/10);
  padding: 12px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 2px solid white;
}

#techn img {
  width: 65px;
  height: 65px;
  margin: 0px 40px 0px 50px;
  border-radius: 50%;
}

.cv-box {
  position: relative;
}

.btn {
  display: block;
  text-decoration: none;
  width: 60px;
  font-size: 15px;
  color: white;
  background-color: dodgerblue;
  padding: 0.8rem 0;
  text-align: center;
  cursor: pointer;
  position: absolute;
  border-top-left-radius: 95%;
  top: 80%;
  left: 90%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.btn:hover {
  background-color: royalblue;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@-webkit-keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

@-webkit-keyframes border-none {
  to {
    border-right: none;
    border-color: black;
  }
}

@keyframes border-none {
  to {
    border-right: none;
    border-color: black;
  }
}

@-webkit-keyframes display-none {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes display-none {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadefromdown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadefromdown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@media all and (max-width: 990px) {
  #aboutMe {
    font-size: 15px;
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    text-align: center;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #aboutMe img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px auto 0;
  }
  .btn {
    width: 60px;
    height: 60px;
    font-size: 23px;
    padding: 0.8rem 0;
    cursor: pointer;
    position: fixed;
    border-radius: 50%;
    z-index: 10;
  }
  .softskills {
    width: 100%;
    height: 110%;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto 20px;
  }
  .softskills .firstsoft {
    -webkit-animation: 4s fadefromdown 1s forwards ease;
            animation: 4s fadefromdown 1s forwards ease;
    opacity: 0;
  }
  .softskills .secondsoft {
    -webkit-animation: 4s fadefromdown 2s forwards ease;
            animation: 4s fadefromdown 2s forwards ease;
    opacity: 0;
  }
  .softskills .thirdsoft {
    opacity: 0;
    -webkit-animation: 4s fadefromdown 3s forwards ease;
            animation: 4s fadefromdown 3s forwards ease;
  }
  .softskills .foursoft {
    opacity: 0;
    -webkit-animation: 4s fadefromdown 4s forwards ease;
            animation: 4s fadefromdown 4s forwards ease;
  }
  .line {
    display: none;
  }
  .personalInfo {
    margin-top: 50px;
    width: auto;
    height: 100%;
    margin-bottom: 30px;
    white-space: nowrap;
  }
  body {
    overflow-y: visible;
  }
}
/*# sourceMappingURL=aboutme.css.map */