body {
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html {
  scroll-behavior: smooth;
}

.lead {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.header {
  height: 720px;
  background: -webkit-gradient(linear, left top, right top, color-stop(6%, #24d6b9), color-stop(37%, black), color-stop(65%, black), color-stop(78%, #24d6b9));
  background: linear-gradient(90deg, #24d6b9 6%, black 37%, black 65%, #24d6b9 78%);
}

#home {
  -webkit-animation: fadefromleft 0.5s ease;
          animation: fadefromleft 0.5s ease;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.nav-link {
  color: white;
}

#navbarNavAltMarkup {
  font-size: 25px;
  margin-right: 10px;
}

.navbar-brand {
  font-size: 25px;
  color: white;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
  -webkit-animation: fadefromleft 1.5s ease;
          animation: fadefromleft 1.5s ease;
}

.nav-item {
  -webkit-animation: fadefromup 1.5s ease;
          animation: fadefromup 1.5s ease;
}

@-webkit-keyframes fadefromleft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadefromleft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes fadefromup {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadefromup {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes fadefromdown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadefromdown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

ul li {
  margin-right: 25px;
}

li a:hover {
  color: #18a7a7;
}

.skill-box img {
  width: 60px;
  height: 60px;
}

.carousel-caption {
  top: 230px;
  -webkit-animation: fadefromdown 1.5s ease;
          animation: fadefromdown 1.5s ease;
}

p {
  font-size: 30px;
  font-weight: 500;
}

.container-fluid {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.container-fluid h2 {
  margin: auto;
  font-size: 50px;
  color: #0f0101;
}

.fa-github:hover,
.fa-video:hover {
  color: black;
  -webkit-transition: 2s;
  transition: 2s;
}

.fa-github,
.fa-video {
  color: #3d3636;
  font-size: 5vw;
  position: absolute;
}

.fa-github {
  left: 87%;
  top: 80%;
}

.fa-video {
  left: 75%;
  top: 80%;
}

#crossfade2 {
  -webkit-box-shadow: 0px 0px 16px 0px #0f0101;
          box-shadow: 0px 0px 16px 0px #0f0101;
}

#crossfade .img-fluid {
  -webkit-box-shadow: 0px 0px 16px 0px #0f0101;
          box-shadow: 0px 0px 16px 0px #0f0101;
}

@-webkit-keyframes crossfad2 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes crossfad2 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes crossfad {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes crossfad {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.skill-box-animated {
  -webkit-animation: showHide 5s forwards;
          animation: showHide 5s forwards;
}

.skill-box {
  padding: 1rem;
  margin-top: 40px;
  color: #ddd;
  cursor: pointer;
  opacity: 0;
}

.skill-box:nth-child(1) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.skill-box:nth-child(2) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.skill-box:nth-child(3) {
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
}

.skill-box:nth-child(4) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.skill-box:nth-child(5) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.skill-box:nth-child(6) {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

@-webkit-keyframes showHide {
  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes showHide {
  100% {
    width: 100%;
    opacity: 1;
  }
}

.skill-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hideme {
  opacity: 0;
}

.hideme2 {
  opacity: 0;
}

.showme3 {
  -webkit-animation: crossfad2 2s ease forwards;
          animation: crossfad2 2s ease forwards;
}

.showme2 {
  -webkit-animation: crossfad 2s ease forwards;
          animation: crossfad 2s ease forwards;
}

#mySkillBox {
  background: black;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  grid-gap: 1rem;
  padding: 1rem 80px;
  display: -ms-grid;
  display: grid;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  margin-bottom: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-filter: contrast(150%);
          filter: contrast(150%);
}

#mySkillBox:hover .img {
  -webkit-animation: pulse 5s forwards infinite;
          animation: pulse 5s forwards infinite;
}

#mySkillBox:hover {
  -webkit-filter: opacity(110%);
          filter: opacity(110%);
  -webkit-filter: contrast(150%);
          filter: contrast(150%);
}

#mySkillBox svg {
  display: block;
  position: fixed;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.aboutme {
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutme img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 1vh solid silver;
  margin-left: 10vh;
}

.aboutme h1 {
  margin-left: 14vh;
  margin-bottom: 0;
}

.aboutme .img-fluid p {
  color: grey;
  margin-left: 15vh;
  margin-bottom: 15vh;
}

.myGoals {
  margin-top: 10vh;
  width: 120px;
  height: 300px;
  border-right: 2px solid black;
}

footer {
  background-color: black;
  border: 5px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.contact {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .contactme {
  width: 400px;
  border-bottom: 1px solid #5726ca;
  margin: 30px auto;
}

.contact #email {
  width: 400px;
  height: 30px;
  margin: 0;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid #5726ca;
}

.contact .contactme input,
.contact .sendmessage input {
  width: 400px;
  background: none;
  border: none;
  outline: none;
}

.contact .sendmessage {
  width: 400px;
  margin: 30px auto;
}

.contact textarea {
  width: 400px;
  height: 30px;
  background: none;
  border: none;
  border-bottom: 1px solid #5726ca;
  outline: none;
}

.contact textarea.clicked {
  height: 60px;
  border: 1px solid #5726ca;
}

#form.invalid .inputBox:before {
  content: "";
  position: absolute;
  margin-left: 410px;
  width: 30px;
  height: 30px;
  background: url(img/invalid.png);
  background-size: cover;
}

#form.valid .inputBox:before {
  content: "";
  position: absolute;
  margin-left: 410px;
  width: 30px;
  height: 30px;
  background: url(img/valid.png);
  background-size: cover;
}

.followme {
  width: 100%;
  height: 100%;
}

.fa-facebook,
.fa-twitter,
.fa-google-plus-g,
.fa-instagram,
.fa-youtube {
  font-size: 7vh;
  margin: 1rem;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00aced;
}

.fa-google-plus-q {
  color: #dd4b39;
}

.fa-instagram {
  color: #517fa4;
}

.fa-youtube:hover,
.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-q:hover,
.fa-instagram:hover,
.fa-youtube:hover {
  color: #d5d5d5;
}

@media all and (max-width: 870px) {
  .myGoals {
    display: none;
  }
  .carousel-caption {
    top: 230px;
  }
  nav ul li,
  nav ul ul li {
    display: inline-block;
    width: 100%;
  }
  .aboutme {
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .aboutme p {
    font-size: 20px;
    margin: 5px;
  }
  .aboutme .img-fluid p {
    margin-left: 0;
  }
  .aboutme img {
    width: 350px;
    height: 350px;
    margin-left: 0vh;
  }
  .aboutme h1 {
    margin-left: 0vh;
    margin-bottom: 0;
  }
  .v1 {
    display: none;
  }
  .aboutme .btn {
    margin-bottom: 7vh;
  }
}

@media (min-width: 870px) and (max-width: 1200px) {
  nav ul li,
  nav ul ul li {
    display: inline-block;
    width: 100%;
  }
  .aboutme {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .aboutme img {
    width: 300px;
    height: 300px;
  }
  .aboutme p {
    font-size: 22px;
    margin: 5px;
  }
  .aboutme .btn {
    margin-bottom: 8vh;
  }
}
/*# sourceMappingURL=style2.css.map */